[package]
name = "rustflow"
version = "0.1.0"
edition = "2024"

[features]
default = ["io-jsonl", "io-csv", "io-parquet", "parallel-io"]

# IO backends
io-jsonl = []
io-csv = ["dep:csv"]
io-parquet = ["dep:parquet", "dep:arrow", "dep:serde_arrow"]

# Behaviors
parallel-io = []

[dependencies]
anyhow = "1"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
rayon = "1"
num_cpus = "1"
ordered-float = "5"

csv = { version = "1", optional = true }
arrow = { version = "56", optional = true }
parquet = { version = "56", optional = true }
serde_arrow = { version = "0.13", optional = true, features = ["arrow-56"] }

[dev-dependencies]
tempfile = "3"